@use './reset';
@use './variables';
@use './utilities';


@use './blocks/header';
@use './blocks/footer';
@use './blocks/logo';
@use './blocks/step-icon';
@use './blocks/tab-button';
@use './blocks/order-form';
@use './blocks/table-content';





body {
  min-height: 100vh;
  background-color: var(--light-color);
  background: -webkit-linear-gradient(90deg, #bdbdbd,#dedede,#ffffff);
  background: var(--light-gradient);
  font-family: sans-serif;
  overflow-x: hidden;
}

