
.logo {
  text-transform: uppercase;

    font-weight: 700;
    color: var(--light-color);
    text-decoration-line: underline;
    text-decoration-color: var(--light-color);

    @media (hover:hover) {
      transition: opacity .5s;

      &:hover {
        opacity: .5;
      }
    }
}