
.step-icon {
  width: 20px;
  height: 10px;
  background-color: var(--color-secondary);
  box-shadow: 0 0 3px 1px rgb(53, 27, 27);
  border-radius: 20px;
  transition: transform .5s ease-out, box-shadow .5s ease-in;

  &--active {
    background-color: antiquewhite;
    box-shadow: 0 0 3px 1px var(--light-color);
    transform: scaleX(1.2);

  }
}